<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDptaNs-3dF-WRbJE0_vs8j_-pw1AQaQyk</string>
	<key>GCM_SENDER_ID</key>
	<string>312519122900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meghasli.sentit</string>
	<key>PROJECT_ID</key>
	<string>sent-it-c0cd3</string>
	<key>STORAGE_BUCKET</key>
	<string>sent-it-c0cd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312519122900:ios:def1e3eaf366b58acdc041</string>
</dict>
</plist>